<h2 class="text-primary" style="text-align: center;">
    Register
</h2>

<form method="post" enctype="multipart/form-data">
    <label for="Nombre" class="form-label">Nombre</label>
    <input type="text" id="Nombre" name="Nombre" class="form-control" required />
    
    <label for="Email" class="form-label">Email</label>
    <input type="text" id="Email" name="Email" class="form-control" required />

    <label for="Password" class="form-label">Contraseña</label>
    <input type="text" id="Password" name="Password" class="form-control" required />

    <label class="form-label">Seleccione un fichero: </label>
    <input type="file" name="file" class="form-control" />

    <button class="btn btn-success my-2">
        Register
    </button>
</form>